body, html {
    height: 100%;
}

#jumbotron {
	padding-top: 10%;
	height: 100%;
	width: 100%;
    font-size: 16px;
    color: rgba(255,255,255,0.75);
    text-align: center;
    border-radius: 0;
    /*padding-bottom: 80px;*/
    height: 500px;
}

body{
	background: url('https://download.unsplash.com/photo-1429051883746-afd9d56fbdaf') no-repeat;
    background-size: 100%;
}

#main{
	text-align: center;
	color: #fff;
}

#dropdowns, .checkbox{
	color: #fff;
}


#dropdown{
	padding-top: 5%;
}

li{
	font-size: 1.2em;
}

#input-box{
	margin: 1%;
	padding-top: 5px;
	font-size: 0.7em;
	text-align: center;
	color: black;
}

ul{
	list-style: none;
}

#links{

}

#links
{
	height: 1em;
	width: 100%;
}

.links{
	float: right;
	padding-right: 15px;
}

#links li
{
	display:inline;
}

#links li a{
	font-size: 1.5em;
	padding-left: 15px;
}

#wrapper {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    height: 400px;
}

.output {
    color: #bdc3c7;
}